$color_white: #fff;
$color_light: #f4f4f4;
$color_dark: #525252;
$color_black: #141415;
$color_primary: #e215c0;
$color_primary_light: hsla(310, 83%, 48%, 0.12);
$color_success: #29f5a5;
$color_warning: #ffce31;

$transition: all 300ms ease;
